body { 
      background: #fff0f5; 
     }

hr { 
      background:#fff0f5;
      border-color: lightseagreen;
      border-style: none;
      border-top-style:dotted ;
      border-width: 10px;
      width: 8%;
   }

h1 {
     color: #f08080;
   }

h3 {
     color: #f08080;
   }